.rpolje {
    background-color: red;
}
.zpolje {
    background-color: chartreuse;
}
.poteza {
    background-color: yellow;
}
table {
    background-color: bisque;
}

body {
    background-color:cyan;
}
.gumb {
    text-align: center;
}
h1, h2, h3, p {
    text-align: center;
}
